spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com.capstone: DEBUG

management:
  health:
    db:
      enabled: true
